.empty-container {
  width: 100%;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.9;
}

.empty-image {
  width: 120px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.empty-container h2 {
  font-size: 22px;
  margin-bottom: 6px;
  color: var(--text-dark);
}

.empty-container p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.reset-btn {
  background: var(--primary);
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  transition: 2s;
}

.reset-btn:hover {
  opacity: 0.9;
}
